## Strings

In [2]:
c = '''
Baseball is a bat-and-ball sport played between 
two teams of nine players each, taking turns batting and fielding. 
dhe game is live when the umpire signals to the pitcher either 
verbally or by pointing, indicating that the ball is now in play. 
'''

In [3]:
print(c)

Baseball is a bat-and-ball sport played between
two teams of nine players each, taking turns batting and fielding.
dhe game is live when the umpire signals to the pitcher either
verbally or by pointing, indicating that the ball is now in play.

In [4]:
s = 'Hello world'
t = s.replace('Hello' , 'Hallo')   # 'Hallo world'
print(t)

Hallo world

In [5]:
s[1] = 'a' #Immutable

TypeError: 'str' object does not support item assignment

In [6]:
#Raw strings are string literals with an uninterpreted backslash
rs = r'/home/developer/temp/folder'
print(rs)

/home/developer/temp/folder

## Data Structures

In [9]:
# int numbers[100];

In [10]:
# Lists

l1 = [1,'hi',2.0]

print(l1)

[1, 'hi', 2.0]

In [11]:
type(l1)

list

In [12]:
l2 = list() #also []
print(l2)
l2.append(1)
print(l2)
l2.append('hi')
print(l2)
l2.append(2.0)
print(l2)

[]
[1]
[1, 'hi']
[1, 'hi', 2.0]

In [13]:
# l2 = []
a = 1
b = 2
l3 = [a, b]

In [14]:
print(l2[0])

1

In [15]:
l2[0] = 15
print(l2)

[15, 'hi', 2.0]

In [16]:
len(l2)

3

In [17]:
print(l2[100])

IndexError: list index out of range

In [20]:
for i in range(0,10,2): #for(int i=0; i<2; i++)
    print(i)

0
2
4
6
8

In [22]:
print(l2)

[15, 'hi', 2.0]

In [23]:
print(l2[0:2]) # Slicing - like range(0,2)

[15, 'hi']

In [24]:
print(l2)

[15, 'hi', 2.0]

In [91]:
# l2 = l2[0:2] - only then the value of l2 will change

In [27]:
print(l2[:2]) # like for i in range(2)

[15, 'hi']

In [28]:
print(l2[1:])

['hi', 2.0]

In [29]:
print(l2[:]) # same as print(l2)

[15, 'hi', 2.0]

In [30]:
print(l2)

[15, 'hi', 2.0]

In [32]:
l2[-1] # last element

2.0

In [34]:
# Create a list and print the last 5 elements using slicing
q_list = [1,2,3,4,5,6,7,8,9,10]
print(q_list[-5:])

[6, 7, 8, 9, 10]

In [35]:
demo_string = "Hello world"
print(demo_string[2:5])

llo

In [97]:
len(l2) # in C something like while (i!== '\0')

3

In [37]:
# a = 3
# del a
# print(a)

In [36]:
del l2[1]
print(l2)

[15, 2.0]

In [38]:
print(l2)
temp_list = l2
temp_list2 = temp_list
temp_list[0] = 90
print(temp_list2)

[15, 2.0]
[90, 2.0]

In [39]:
l2 = [15, 'hi', 2.0]
print(l2)
temp_list = l2[:]
temp_list[0] = 90
print(l2, temp_list)

[15, 'hi', 2.0]
[15, 'hi', 2.0] [90, 'hi', 2.0]

In [40]:
print(l2)

[15, 'hi', 2.0]

In [43]:
print(l2, l1)

[15, 'hi', 2.0] [1, 'hi', 2.0]

In [45]:
l3 = l1+l2
print(l3)

[1, 'hi', 2.0, 15, 'hi', 2.0]

In [46]:
"Cognibot" * 3

'CognibotCognibotCognibot'

In [47]:
l2 * 3

[15, 'hi', 2.0, 15, 'hi', 2.0, 15, 'hi', 2.0]

In [106]:
# [1, 2] * 3 not equals [3, 6]
# [1, 2, 1, 2, 1, 2]

In [48]:
abc = ['hi', 'world']
print(abc*3)

['hi', 'world', 'hi', 'world', 'hi', 'world']

In [49]:
abc.append([4, 5])
print(abc)

['hi', 'world', [4, 5]]

In [50]:
abc.extend([4,5])
print(abc)

['hi', 'world', [4, 5], 4, 5]

In [51]:
l1 = [1, 'hi', 2.0]

In [54]:
'''
for(int i=0; i<length; i++)
{
    cout<<arr[i]<<endl;
}
'''

for i in range(len(l1)):
    print(l1[i])

1
hi
2.0

In [61]:
# Iterate list
# for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
#     print(i, end=' ')
    
# Iterate list
for i in l1:
    print(i)

1
hi
2.0

In [56]:
print(l2)

[15, 'hi', 2.0]

In [57]:
'''
for(int i=0; i<10 &&j<5; i++)
{
..........
}
'''

'\nfor(int i=0; i<10 &&j<5; i++)\n{\n..........\n}\n'

In [58]:
# x, y = 10, 20

In [59]:
print(l2)

[15, 'hi', 2.0]

In [62]:
for key,value in enumerate(l2):
    if value=='hi':
        print(key,value)

1 hi

In [65]:
for key,value in enumerate([1,2,3,4,5,6,8,9,10]):
    if key >=5 and key <=8:
        print(value)

6
8
9
10

In [67]:
em_list = list()
for i in range(11):
    em_list.append(i)


print(em_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
# list[start:stop:skip]
print(list(range(10, 30, 2)))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [73]:
l1 = list(range(10, 30, 2))
print(l1)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [74]:
# list[start:stop[:skip]
l1[0:6:2]

[10, 14, 18]

In [75]:
odd_list = list(range(1,50,2))
print(odd_list[5:9])

[11, 13, 15, 17]

In [76]:
# Tuples - similar to lists, but immutable

t1 = (1,2,'hi',3.0)

In [77]:
t1[0]

1

In [78]:
print(t1[0])

1

In [79]:
t1[0] = 15

TypeError: 'tuple' object does not support item assignment

In [82]:
for i in t1:
    print(i)

1
2
hi
3.0

In [81]:
for i in (9, 40):
    print(i, end=' ')

9 40

In [83]:
# x, y = 10, 20
# kye, value

In [85]:
# Example of unpacking
new_tuple = (0, 1)
key = new_tuple[0]
value = new_tuple[1]

In [84]:
key, value = (0, 1)

In [86]:
list(range(5))

[0, 1, 2, 3, 4]

In [88]:
for key,value in enumerate([1,2,3]):
    print(a)

(0, 1)
(1, 2)
(2, 3)

In [87]:
list(enumerate([1,2,3]))
# Output should be index, value

[(0, 1), (1, 2), (2, 3)]

In [89]:
for i in enumerate(l1):
    key, value = i
    print(key , value)
    break

0 10

In [90]:
# enumerate
for key,value in enumerate(l1):
    print(key,value)

0 10
1 12
2 14
3 16
4 18
5 20
6 22
7 24
8 26
9 28

In [91]:
a, b = (0, 10)

In [92]:
print(list((1,2,'hi')))

[1, 2, 'hi']

In [93]:
for i in enumerate(l2):
    print(list(i))

[0, 15]
[1, 'hi']
[2, 2.0]

In [94]:
print(list(enumerate(l2)))

[(0, 15), (1, 'hi'), (2, 2.0)]

In [96]:
# Dictionaries

d1 = {
    'apple': 'a red fruit',
    'b': 2
}

In [97]:
d_new = {
    1000: 8.4,
    1001: 9.1
}

In [98]:
print(d1)

{'apple': 'a red fruit', 'b': 2}

In [99]:
d1['b']

2

In [100]:
d1['apple']

'a red fruit'

In [141]:
# d1['NameofState']

In [101]:
d1['apple'] = 3
print(d1)

{'apple': 3, 'b': 2}

In [102]:
d3 = dict() #l1 = list()
d3[2] = 1  #l1.append(val)
d3['b'] = 2
print(d3)

{2: 1, 'b': 2}

In [104]:
d1 = {
    'apple': 'a red fruit',
    'b': 2
}

In [105]:
d3.keys()

dict_keys([2, 'b'])

In [106]:
list(d3.keys())

[2, 'b']

In [107]:
d3.values()

dict_values([1, 2])

In [108]:
list(d3.values())

[1, 2]

In [109]:
d1.items()

dict_items([('apple', 'a red fruit'), ('b', 2)])

In [111]:
list(d1.items())

[('apple', 'a red fruit'), ('b', 2)]

In [112]:
d1.keys(), d1.values(), d1.items()

(dict_keys(['apple', 'b']),
 dict_values(['a red fruit', 2]),
 dict_items([('apple', 'a red fruit'), ('b', 2)]))

In [113]:
# Iterate dictionary
'''
for k,v in [(1,2), (21,11)]:
    print(k, v)

for i in d3.items():
    key, value = i
    print(key, value)

'''


for key,value in d1.items():
    print(key, value)

apple a red fruit
b 2

In [114]:
# a,b = 1, 20
key, value = (10, 20, 30, 40)

ValueError: too many values to unpack (expected 2)

In [115]:
x, y, *z = (1, 2, 3, 4, 5, 6, 7)
print(x, y, z, sep=';')

1;2;[3, 4, 5, 6, 7]

In [116]:
# Variable arguments
def func_name2(*arguments):# (1, 2, 'hi')
    for arg in arguments:
#         arg += 1
        print(arg)

In [117]:
func_name2(1,6.0, 2, 3, 4 ,5)

1
6.0
2
3
4
5

In [118]:
func_name2(1,2,'hi')

1
2
hi

In [121]:
# keyword arguments
def func_name3(**kwargs):
    for key,value in kwargs.items(): #[(a, 1), (b, 6.0)]
        print(key,value)

In [122]:
func_name3(a=1,b=6.0,c='red fruit')

a 1
b 6.0
c red fruit

In [123]:
if 'b' in d3:
    print('yes')

yes

In [126]:
num_dic = dict()

for i in range(-1, -101, -1):
    num_dic[i] = abs(i)%10

print(num_dic)

{-1: 1, -2: 2, -3: 3, -4: 4, -5: 5, -6: 6, -7: 7, -8: 8, -9: 9, -10: 0, -11: 1, -12: 2, -13: 3, -14: 4, -15: 5, -16: 6, -17: 7, -18: 8, -19: 9, -20: 0, -21: 1, -22: 2, -23: 3, -24: 4, -25: 5, -26: 6, -27: 7, -28: 8, -29: 9, -30: 0, -31: 1, -32: 2, -33: 3, -34: 4, -35: 5, -36: 6, -37: 7, -38: 8, -39: 9, -40: 0, -41: 1, -42: 2, -43: 3, -44: 4, -45: 5, -46: 6, -47: 7, -48: 8, -49: 9, -50: 0, -51: 1, -52: 2, -53: 3, -54: 4, -55: 5, -56: 6, -57: 7, -58: 8, -59: 9, -60: 0, -61: 1, -62: 2, -63: 3, -64: 4, -65: 5, -66: 6, -67: 7, -68: 8, -69: 9, -70: 0, -71: 1, -72: 2, -73: 3, -74: 4, -75: 5, -76: 6, -77: 7, -78: 8, -79: 9, -80: 0, -81: 1, -82: 2, -83: 3, -84: 4, -85: 5, -86: 6, -87: 7, -88: 8, -89: 9, -90: 0, -91: 1, -92: 2, -93: 3, -94: 4, -95: 5, -96: 6, -97: 7, -98: 8, -99: 9, -100: 0}

In [127]:
len(d3)

2

In [128]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [129]:
mylist = [0, 2, 4, 6, 8]

In [130]:
'''
for(int i=0; i<10; i++)
{
    arr[i] = i%2 * 23;
}

'''

'\nfor(int i=0; i<10; i++)\n{\n    arr[i] = i%2 * 23;\n}\n\n'

In [134]:
# List comprehension
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [135]:
a = list()
for i in range(10):
    if i % 2 == 0:
        a.append(i)
        
print(a)

[0, 2, 4, 6, 8]

In [139]:
[x for x in range(10) if x %2 == 0]

[0, 2, 4, 6, 8]

In [144]:
print([x ** 2 for x in range(2, 100) if x % 2 == 1])

[9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401, 2601, 2809, 3025, 3249, 3481, 3721, 3969, 4225, 4489, 4761, 5041, 5329, 5625, 5929, 6241, 6561, 6889, 7225, 7569, 7921, 8281, 8649, 9025, 9409, 9801]

In [145]:
arr = [n for n in range(5)]
print(arr)

[0, 1, 2, 3, 4]

In [146]:
# int numbers[100][100]

In [155]:
my2Dlist = [[["hi", "World"],2,3], [3,4], [4]]
print(my2Dlist)

[[['hi', 'World'], 2, 3], [3, 4], [4]]

In [156]:
my2Dlist[0][0][0]

'hi'

In [157]:
[arr, arr, arr]

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [158]:
'''
for(int i=0; i<5; i++)
    for(int j=0; j<5;j++)
        arr[i][j] = j+(i*10);
'''

'\nfor(int i=0; i<5; i++)\n    for(int j=0; j<5;j++)\n        arr[i][j] = j+(i*10);\n'

In [160]:
a = [[j+(i*10) for j in range(5)] for i in range(5)]
print(a)

[[0, 1, 2, 3, 4], [10, 11, 12, 13, 14], [20, 21, 22, 23, 24], [30, 31, 32, 33, 34], [40, 41, 42, 43, 44]]

In [161]:
#2D lists initialization
new_lis = [[0 for x in range(10)] for y in range(10)]
print(new_lis)

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [162]:
[0]*3

[0, 0, 0]

In [163]:
new_list2 = [[0]*3 for x in range(3)]
print(new_list2)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [164]:
#Wrong way
a = [[0]*3]*3
print(a)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [177]:
#The address has been copied
a[0][1] = 10
print(a)

[[0, 10, 0], [0, 10, 0], [0, 10, 0]]

In [165]:
[[i*j for j in range(5)] for i in range(5)]

[[0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4],
 [0, 2, 4, 6, 8],
 [0, 3, 6, 9, 12],
 [0, 4, 8, 12, 16]]

In [167]:
#Maps

In [189]:
def check_str(x):
    '''
    Check if the given element is a string
    '''
    if type(x) is str:
        return x
    else:
        return '-'
    
a = [1,2,4,'hi',4.5]

res = map(check_str,a)

In [190]:
print(list(res))

['-', '-', '-', 'hi', '-']

In [180]:
#Manual implementation of map function
res2 = list()
for i in a:
    res2.append(check_str(i))
print(res2)

['-', '-', '-', 'hi', '-']

In [181]:
print(res)

<map object at 0x7fc49fbf5bb0>

In [182]:
'''
Map - returns a list of the results after applying the given function
to each item of a given iterable (list, tuple etc.)
'''

'\nMap - returns a list of the results after applying the given function\nto each item of a given iterable (list, tuple etc.)\n'

In [183]:
type(res)

map

In [184]:
list(res)

[]

In [191]:
# Zip - combine iterables

In [199]:
a = [1,2,3]
b = ['Me','You','Someone else']
c = [1.0,2.0,3.0]
res = zip(a, b, c)

In [200]:
list(res)

[(1, 'Me', 1.0), (2, 'You', 2.0), (3, 'Someone else', 3.0)]

In [201]:
a1 = [1, 2, 3]
b1 = [4, 5, 6]
c1 = [7, 8, 9]
for a,b,c in zip(a1,b1,c1):
    print(a+b+c)

12
15
18

In [204]:
a  = [1, 2]
b = [3, 4]
list(zip(a, b))

[(1, 3), (2, 4)]

In [205]:
zx = [1, 2]
pb = ['hello', 'world', 'Cognibot']
list(zip(zx, pb))

[(1, 'hello'), (2, 'world')]

In [207]:
a = [1,2,3]
b = ['Me','You','Someone else']
c = [1.0,2.0,3.0]
for res in zip(a, b, c):
    print(res)

(1, 'Me', 1.0)
(2, 'You', 2.0)
(3, 'Someone else', 3.0)

In [209]:
for x, y, z in zip(a, b, c):
    print(x, y, z)

1 Me 1.0
2 You 2.0
3 Someone else 3.0

In [210]:
[x for x in zip(a, b, c)]

[(1, 'Me', 1.0), (2, 'You', 2.0), (3, 'Someone else', 3.0)]

In [211]:
[x for x in zip(a, b, c) if x[0]<3]

[(1, 'Me', 1.0), (2, 'You', 2.0)]

In [212]:
#lambda functions

## Modules

In [213]:
# Modules are like header files in C++. You can access the functions using the module names.

In [214]:
'''
#include<cmath>
#include<iostream>

using namespace std;

int main()
{
cout<<"Hello";
}

'''

'\n#include<cmath>\n#include<iostream>\n\nusing namespace std;\n\nint main()\n{\ncout<<"Hello";\n}\n\n'

In [218]:
import math #include

In [219]:
math.cos(0)

1.0

In [220]:
from math import cos, sin
cos(0)

1.0

In [221]:
sin(0)

0.0

In [222]:
import math as m
m.cos(0)

1.0

In [225]:
# #HEAVILY DISCOURAGED
# from math import *
# cos(0)

In [226]:
def simple_interest(p, r, t):
    return(p*r*t/100)

def compound_interest(p, r, t):
    return(p*pow(1+(r/100), t))

In [228]:
# Create own module
import my_interest
my_interest.simple_interest(100, 20, 1)

20.0

In [230]:
my_interest.compound_interest(100, 5, 1)

105.0

In [231]:
from my_interest import simple_interest as si

In [232]:
si(100,5,1)

5.0